@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul><li>Some text Here</li> </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li>Some Text Here</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li>Some text here</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li>Some Text here</li>
        </ul>
    </div>
</div>
